body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont,
        'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
        'Open Sans', 'Helvetica Neue', sans-serif;
}

.heading {
    position: absolute;
    text-align: center;
    top: 30%;
    width: 100%;
}

.heading h1 {
    color: rgb(255, 0, 0);
    font-size: 70px;
}

.heading h3 {
    color: rgb(255, 0, 0);
    font-size: 20px;
    margin-top: -50px;
}

#particles-js {
    background: rgb(255, 255, 255);
    height: 100vh;
}